body {
	font-family: 'Roboto', sans-serif;
	--main-color: #193f6e;
	--second-color: #3b6ba5;
	--third-color: #72a5d3;
	--fourth-color: #b1d3e3;
	--fifth-color: #e1ebec;
}

.table {
	margin: 5px;
	border: 1px solid var(--main-color);
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	overflow: hidden;
}

.head {
	background-color: var(--main-color);
	color: var(--fifth-color);
	text-align: center;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.item {
	background-color: var(--fifth-color);
	text-align: center;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.item:nth-child(odd) {
	background-color: var(--fourth-color);
}

.item:nth-child(odd) > div {
	border-right: 1px solid var(--fifth-color);
}

.item:hover {
	background-color: var(--third-color);
	cursor: pointer;
}

.head > div, 
.item > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 10px;
	min-width: 4%;
	border-right: 1px solid;
	padding: 10px 5px;
}

.head > div:hover {
	cursor: pointer;
}

.item > div {
	height: 35px;
	border-right: 1px solid var(--fourth-color);	
}

.title {
	flex-grow: 3;
}

.image {
	flex-grow: 0.6;
}

.image > img {
	height: 140%;
}

.image > img:hover {
	height: 800%;
	z-index: 200;
	background: var(--fifth-color);
	border: 1px solid var(--third-color);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.category {
	flex-grow: 0.8;
}

.category select {
	color: var(--fifth-color);
	text-align-last: center;
	width: 100%;
	background-color: transparent;
	border: none
}

.category select:active,
.category select:hover,
.category select:focus {
	border: none;
	outline: none;
}

.weight {
	flex-grow: 0.4;
}

.percent {
	flex-grow: 4;
}

.price {
	flex-grow: 0.6;
}

.old-price {
	flex-grow: 0.6;
}

.period {
	flex-grow: 1;
}

.nothing-to-view {
	color: var(--main-color);
	text-align: center;
    padding: 20px;
}

/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 20px;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-color);
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}