body {
	font-family: 'Roboto', sans-serif;
	--main-color: #193f6e;
	--second-color: #3b6ba5;
	--third-color: #72a5d3;
	--fourth-color: #b1d3e3;
	--fifth-color: #e1ebec;
}

.table {
	margin: 5px;
	border: 1px solid var(--main-color);
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	overflow: hidden;
}

.head {
	background-color: var(--main-color);
	color: var(--fifth-color);
	text-align: center;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.item {
	background-color: var(--fifth-color);
	text-align: center;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
}

.item:nth-child(odd) {
	background-color: var(--fourth-color);
}

.item:nth-child(odd) > div {
	border-right: 1px solid var(--fifth-color);
}

.item:hover {
	background-color: var(--third-color);
	cursor: pointer;
}

.head > div, 
.item > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 10px;
	min-width: 4%;
	border-right: 1px solid;
	padding: 10px 5px;
}

.head > div:hover {
	cursor: pointer;
}

.item > div {
	height: 35px;
	border-right: 1px solid var(--fourth-color);	
}

.title {
	flex-grow: 3;
}

.image {
	flex-grow: 0.6;
}

.image > img {
	height: 140%;
}

.image > img:hover {
	height: 800%;
	z-index: 200;
	background: var(--fifth-color);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.category {
	flex-grow: 0.8;
}

.weight {
	flex-grow: 0.4;
}

.percent {
	flex-grow: 4;
}

.price {
	flex-grow: 0.6;
}

.old-price {
	flex-grow: 0.6;
}

.period {
	flex-grow: 1;
}